@model DPWA_Assessment.Models.ViewModel.CategoriaViewModel
@{
    ViewBag.Title = "Insertar Categoria";
}

<div class="d-flex justify-content-center align-items-center vh-100 container-fluid">
    <div>
        <h2 class="text-center text-dark mb-5 display-2">@ViewBag.Title</h2>
        <div class="row">
            @using (Html.BeginForm("InsertarCategoria", "Categoria", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="shadow p-3">
                    <div class="mb-3">
                        @Html.LabelFor(d => d.Categoria, "Nombre", new { @class = "form-label" })
                        @Html.TextBoxFor(d => d.Categoria, "", new { @class = "form-control" })
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(d => d.ImagenCat, "Imagen", new { @class = "form-label" })
                        <input type="file" name="ImagePath" class="form-control" />
                    </div>
                </div>
                <div class="text-end">
                    <input type="submit" value="Guardar" class="btn btn-sm btn-warning" />
                </div>
            }
        </div>
    </div>
</div>
