@{
    ViewBag.Title = "Home";
}

<div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
    <div>
        <h1 class="text-dark text-center display-2 mb-3">Laboratorio DPWA</h1>
        <div class="text-center mb-3">
            <a href="~/Categoria/" class="btn shadow btn-sm btn-light me-2">Categorías</a>
            <a href="~/Juego/" class="btn shadow btn-sm btn-light">Juegos</a>
        </div>
        <p class="text-dark text-center fw-light">Julio Eduardo Canizalez Salinas</p>
    </div>

</div>
