@{
    ViewBag.Title = "Home";
}

<div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
    <div>
        <h1 class="text-dark text-center display-2">Laboratorio DPWA</h1>
        <p class="text-dark text-center fw-light">Julio Eduardo Canizalez Salinas</p>
        
    </div>
    
</div>
